    body { 
    text-align: center;
    padding: 5%; 
    font-size: 50;
    background: #ff5f6d;
    background: -webkit-linear-gradient(to right, #ff5f6d, #ffc371);
    background: linear-gradient(to right, #ff5f6d, #ffc371);
    min-height: 100%;
    }

    h1{
        color: rgb(243, 243, 243);
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .buttons{
        background-color: #000000;
        border: none;
        color: seashell;
        padding: 1% 2%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 100%;
        margin: 2% 1%;
        cursor: pointer;
    }