<html>
<body> 
	<div class='container-fluid'>
		<div class='col-12'>
		<ngb-carousel>
		<ng-template ngbSlide>
		  <img src="assets\img\header\1.svg">
		</ng-template>
		<ng-template ngbSlide>
		  <img src="assets\img\header\3.svg">
		</ng-template>
	  </ngb-carousel>
	  </div>
	  </div><br><br>

<a href="#" class="buttons">Start Your Free Trail</a>&nbsp;
<a href="#" class="buttons">Schedule a demo</a>
<br><br><br>
<h1>Industries Benefited :</h1><br><br>
<div class="card-deck" style="text-align: left;">
    <div class="card">
      <img src="assets\img\header\card1.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Finance</h5>
        <p class="card-text">Integrated CRM designed for the finance industry to streamline customer-centric processes including:</p>
        <p class="card-text"><small>
            <ul><b>
                <li>Financial Services</li>
                <li>P2P Lending</li>
                <li>Banking</li>
                <li>Insurance</li></b>
            </ul>
        </small></p>
      </div>
    </div>
    <div class="card">
      <img src="assets\img\header\card2.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Education</h5>
        <p class="card-text">Teleduce caters to all sections of the education industries which includes:</p>
        <p class="card-text"><small>
            <ul><b>
                <li>EdTech</li>
                <li>Education Consultancies</li>
                <li>Training Institutes</li>
                <li>Online Ventures</li></b>
            </ul>
        </small></p>
      </div>
    </div>
    <div class="card">
      <img src="assets\img\header\card3.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Healthcare</h5>
        <p class="card-text">Access complete customer information faster and enhance patient experience with an integrated platform catering to:</p>
        <p class="card-text"><small>
            <ul><b>
                <li>Hospitals</li>
                <li>Diagnosis Center</li>
                <li>Health Service Provider</li>
                <li>Clinics and Blood Banks</li></b>
            </ul>
        </small></p>
      </div>
    </div>
    <div class="card">
        <img src="assets\img\header\card4.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Manufacturing</h5>
          <p class="card-text">Specialized CRM for manufacturing that fits seamlessly into the business framework including:</p>
          <p class="card-text"><small>
              <ul><b>
                  <li>Lead capturing from Indiamart, Trade India & Justdial</li>
                  <li>Automatic lead distribution</li>
                  <li>Seamless Integration</li></b>
              </ul>
          </small></p>
        </div>
      </div>
  </div>


</body> 
</html>
<app-footer></app-footer>