<html> 
<head> 
<title>HTML and CSS Slideshow</title> 
</head> 
<body> 

<!-- Define the slideshow container -->

<div id="slideshow"> 
	<div class="slide-wrapper"> 

	<!-- Define each of the slides 
		and write the content -->
	<div class="slide"> 
		<h1 class="slide-number"> 
            <img src="assets\img\header\1.svg" alt="1">
        </h1>
        FasterEffective Customer Success Management To Scale FasterEase Your Business Process With An Integrated Platform Trusted
	</div>  
	<div class="slide"> 
		<h1 class="slide-number"> 
		    <img src="assets\img\header\3.svg" alt="1"> 
		</h1> 
        FasterEffective Customer Success Management To Scale FasterEase
	</div>  
	</div>
</div>
<br><br>
<a href="#" class="buttons">Start Your Free Trail</a>&nbsp;
<a href="#" class="buttons">Schedule a demo</a>
<br><br><br>
<h1>Industries Benefited :</h1><br>
<div class="row">
<div class="column">
<div class="flip-card">
	<div class="flip-card-inner">
	  <div class="flip-card-front">
		<img src="assets\img\header\card1.png" alt="Avatar" style="width:300px;height:300px;">
	  </div>
	  <div class="flip-card-back"><br>
		<h1>Finance</h1>
		&nbsp;Integrated CRM designed for the finance &nbsp;industry to streamline customer-centric &nbsp;processes including:
		<ul>
			<li>Financial Services</li>
			<li>P2P Lending</li>
			<li>Banking</li>
			<li>Insurance</li>
		</ul>
	  </div>
	</div>
  </div>
  </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="column">
  <div class="flip-card">
	<div class="flip-card-inner">
	  <div class="flip-card-front">
		<img src="assets\img\header\card2.png" alt="Avatar" style="width:300px;height:300px;">
	  </div>
	  <div class="flip-card-back"><br>
		<h1>Education</h1>
		&nbsp;Teleduce caters to all sections of the &nbsp;education industries which includes:
		<ul>
			<li>EdTech</li>
			<li>Education Consultancies</li>
			<li>Training Institutes</li>
			<li>Online Ventures</li>
		</ul>
	  </div>
	</div>
  </div>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="column">
	<div class="flip-card">
	  <div class="flip-card-inner">
		<div class="flip-card-front">
		  <img src="assets\img\header\card3.png" alt="Avatar" style="width:300px;height:300px;">
		</div>
		<div class="flip-card-back"><br>
		  <h1>Healthcare</h1>
		  &nbsp;Access complete customer information &nbsp;faster and enhance patient experience &nbsp;with an integrated platform catering to:
		  <ul>
			  <li>EdTech</li>
			  <li>Education Consultancies</li>
			  <li>Training Institutes</li>
			  <li>Online Ventures</li>
		  </ul>
		</div>
	  </div>
	</div>
  </div>
</div>
</body> 
</html>