.cbox{
    background-image: url(https://d2woyw6vp5g0b2.cloudfront.net/images/landingpage/About_us_hero_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /*margin-top: -15px;*/
    position: relative;
    height: 400px;
    text-align: center;
    margin-bottom: 5%;
    

    }
    .heading{
      margin-top: 25%;
     margin-left: 30%;
    }
    .dbox{
        padding-left: 10%;

    }
    .dd{
        padding-left: 10%;
        padding-top: 5%;
    }
    .ebox{
        padding-top: 02%;
        padding-bottom: 02%;
    }
div.image1{
    margin-top: 3%;
    max-width: 100%;
    max-width: 20%;
    clip-path: circle();
    border-radius: 50%;
    margin-left: 10%;
}
 .gbox{
     margin-left: 23%;
    padding-top: 03%;
    padding-bottom: 02%;

 }
 h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat,sans-serif!important;
}
 .image2{
    max-width: 20%;
    clip-path: circle();
    border-radius: 50%;
    padding-left: 1%;
    
     }
   .hbox{
    padding: 5%;
    background-color: #eff;
    box-sizing: border-box;
    display: block;
    padding-left: 20%;
    line-height: 1.42857143;
    color: #333;

    
   }  
   .team-card{
    width: 100%;
    max-width: 280px;
    margin-right: 5%;
   }
   .image3{
    width: 8rem;
    height: 10rem;
    border-radius: 40%;
    clip-path: circle();
    
    
  
   }
   .team-text{
    font-family: Montserrat,sans-serif!important;  
   }
   
   .image4{
    clip-path: circle();
    width: 12rem;
    height: 16rem;
    border: radius 100%; 
   }







div.service{
   display: flex;
   min-height:50vh;
   left: 25px;
   align-items: 85px;
   margin-left: 95px;


}

.integrated{
    margin-left: 15%;
    text-align: center;
    margin-right: 20%;


   
}
.card22{
    background: #fff;
    border: 2px solid #fff;
    box-shadow: rgba(0,0,0,.18) 0.4rem 0.4rem 1.6rem 0;
    
    height: 220px;
    width: 94%;
    max-width: 370px;
    margin-bottom: 5%;
    font-family: Montserrat,sans-serif!important;
    font-weight: 400;
}
.invester0
{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #eff;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
div.invester{
    background: #fff;
    box-shadow: rgba(0,0,0,.18) 0.4rem 0.4rem 1.6rem 0;
    border-radius: 25px;
    width: 94%;
    max-width: 350px;
    padding: 20px;
    margin: 60px auto;
    margin-left: 5%;
    display: block;
}

   .investimage
   {
    clip-path: circle();
    width: 12rem;
    height: 16rem;
    border: radius 100%; 
   }
