<!DOCTYPE html>
<html>
    <body>
        
        <div class="section"> 
            
        <style>
         body {
            
           </style>
          <h1>Sell Faster With Teleduce </h1>
           </div>
        <div class="section1">     
            <h2 style="text-align:center;">Our Story</h2>
            <p style="text-align: left;"style="font-size:28px"  >
                In this digital era, businesses need integrated tools that help them grow successfully. Corefactors was found in 2013 to create engineered marketing and communication solutions.
                Looking at the customer shift and how businesses struggle to keep up their customer base, Teleduce was born.
                Today teleduce is helping 4000+ users across India to sell faster and scale faster.
            </p>
             
        </div>
        
        <div class="section2">
            <img src="assets/img/background.jpg" style="height: 300px ; width: 80%;">

         </div>
         <br><br><br><br><br><br><br><br><br><br><br>  <br><br> 
         <br><br><br><br><br>
        
         

         <h2 style="text-align:center;" >Our Founder</h2>
             <div class="card">
             <div class="image">
             <img src="assets/img/card.webp" style="height: 200px; width: 200px;">
             </div>
             <div class="text">
             <h1>John Doe</h1>
             <h2 style="text-align: center;"> CEO&Founder </h2>
             <hr>
             <p> With nearly a decade of experience in building value and knowledge-based teams, Sharmila has come a long way in her entrepreneurial journey. She leads the marketing, strategy, and growth for our product Teleduce. She has helped Corefactors grow from a 10 people team to an organization.</p>
             </div>
             </div> 
            <br><br><br><br><br><br><br>
             <div class="card">
             <div class="image">
             <img src="assets/img/card.webp" style="height: 200px; width: 200px;">
             </div>
             <div class="text">
             <h1>John Doe</h1>
             <h2 style="text-align: center;"> CEO&Founder </h2>
             <hr>
             <p> With nearly a decade of experience in building value and knowledge-based teams, Sharmila has come a long way in her entrepreneurial journey. She leads the marketing, strategy, and growth for our product Teleduce. She has helped Corefactors grow from a 10 people team to an organization.</p>
             </div>
             </div>  
             <br><br><br><br><br>
             <br><br>
             <h1 style="text-align: center;" >Our Leadership Team </h1>
            

                    <div class="team">
                    <div class="team_member">
                    <div class="team_image">
                        
                        <img src="assets/img/ajay2.jpg" style="width:100px; height:auto; padding: top 10px;">
                        </div>
                        <h3>Govind</h3>
                        <p class="role">Head of Engineering</p>
                        </div><br><br><br><br><br><br><br><br><br><br>
                        <div class="team_member">
                            <div class="team_image">
                        <img src="assets/img/ajay.jpg" style="width:100px; height:auto; padding: top 10px;">
                        </div>
                
                        <h3>Ajay</h3>
                        <p class="role">Digital Marketing Manager</p><br><br><br>
                    </div>
                    <br><br><br><br><br><br><br>
                    <div class="team_member">
                        <div class="team_image">
                        <img src="assets/img/ajay.jpg" style="width:100px; height:auto; padding: top 10px;">
                        </div>
                        <h3>Ajay</h3>
                        <p class="role">Head of Sales</p>
                    </div>
                    </div>
                    <h1 style="text-align: center;" >Integrated Platform</h1>
                    <p style="margin-left: 250px;">We offer an integrated platform that includes sales, marketing, customer support and customer success for efficient business workflow.</p>
                    <div class="service" >
                        <div class="card1">
                           <h1> Sales Box </h1>
                           <p>  Capture, distribute, and nurture leads via SMS, Email, call, or WhatsApp. Exclusive lead and productivity dashboard.</p>
                            </div>
                            <br><br><br>     
                            <div class="card1">
                           <h1> Marketing Box </h1>
                           <p>  Capture, distribute, and nurture leads via SMS, Email, call, or WhatsApp. Exclusive lead and productivity dashboard.</p>
                            </div>
                    
                        </div>
                        <br><br>
                        <div class="service" >
                        <div class="card1">
                           <h1> success Box </h1>
                           <p>  Capture, distribute, and nurture leads via SMS, Email, call, or WhatsApp. Exclusive lead and productivity dashboard.</p>
                            </div>
                            <br><br><br>     
                            <div class="card1">
                           <h1> Support Box </h1>
                           <p>  Capture, distribute, and nurture leads via SMS, Email, call, or WhatsApp. Exclusive lead and productivity dashboard.</p>
                            </div>
                    
                        </div>
                    <h1 style="text-align: center;" >Our invester </h1>
                    <p style="text-align: center;">We are lucky to be backed by some of the leading tech investors in the world.</p>
                         <div class="card3">
                        <div class="invester">
                            <img src="assets/img/card.webp" style="height: 200px; width: 100px;">
                          <h2>John Doe</h2>
                           
                          <p> Ah! ventures bring businesses and investors together and help in locating potential investment opportunitie</p>
                        
                          </div>
                          <div class="invester">
                          <img src="assets/img/card.webp" style="height: 200px; width: 100px;">
                          <h1>John Doe</h1>
                           <h2>  </h2>
                          <p> Ah! ventures bring businesses and investors together and help in locating potential investment opportunitie</p>
                        </div> 
                        </div>
                    
                    
                        
                        
       
    </body>
</html>
<br>
<app-footer></app-footer>