
<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container cbox ">
        <div class="row">
            <div class="heading">
          <div class="col-sm-12"> <h1 > Sell Faster With Teleduce </h1> 
          </div>
          </div>
        </div>
      </div> 
      <div class="container dbox ">
        <div class="row">
            
          <div class="col-sm-6"> <h2 style="text-align:center;">Our Story</h2> <p style="font-size:23px">
            In this digital era, businesses need integrated tools that help them grow successfully. Corefactors was found in 2013 to create engineered marketing and communication solutions.
            Looking at the customer shift and how businesses struggle to keep up their customer base, Teleduce was born.
            Today teleduce is helping 4000+ users across India to sell faster and scale faster.
        </p>
          </div>
          <div class=" dd col-sm-6"> <img src="assets/images/background.jpg" style="height: 300px ; width: 80%;">
          </div>
        </div>
      </div> 
      <div class="container ebox ">
        <div class="row">
            
          <div class="col-sm-12"> <h1 style="text-align: center;"> Our Founder</h1> 
          </div>
        </div>
      </div> 

      <div class=" container fbox">
        <div class="row">
            
          <div class=" image1 col-sm-6"> 
            <img src="assets/images/card.webp" style="height: 200px; width: 200px;">
          </div>
          <div class="col-sm-6"> <h2 style="text-align: center; color: blue;"> Mrs.Sharmila S</h2><h4 style="text-align: center;"> CEO&Founder </h4> <hr>
        <p> With nearly a decade of experience in building value and knowledge-based teams, Sharmila has come a long way in her entrepreneurial journey. She leads the marketing, strategy, and growth for our product Teleduce. She has helped Corefactors grow from a 10 people team to an organization.</p> 
        </div>
      </div>
      </div>
      <div class=" container gbox">
        <div class="row">
            <div class="col-sm-6"> <h2 style="text-align: center; color:blue;"> Mrs.Sharmila S</h2>  <h4 style="text-align: center;"> CEO&Founder </h4> <hr>
                <p> With nearly a decade of experience in building value and knowledge-based teams, Sharmila has come a long way in her entrepreneurial journey. She leads the marketing, strategy, and growth for our product Teleduce. She has helped Corefactors grow from a 10 people team to an organization.</p> 
                </div>  
          <div class=" image2 col-sm-6"> 
            <img src="assets/images/card.webp" style="height: 200px; width: 200px;">
          </div>
      </div>
      </div>
      <div class="container hbox">
        <h1 style="text-align: center;" >Our Leadership Team </h1>
        <div class="row">
        
          <div class="team_card col-sm-3"> 
            <div class="image3">
            <img src="assets/images/ajay.jpg">
            </div>
            <div class="team_text">
              <h3>Govind Hivrale</h3>
              <p class="role">Digital Marketing Manager</p> 
            </div>
        </div>
          <div class=" team_card col-sm-3">
            <div class="image3">
            <img src="assets/images/ajay.jpg" >
            </div>
            <div class="team_text">
              <h3>Govind Hivrale</h3>
              <p class="role">Digital Marketing Manager</p>
      
            </div>         
          </div>
          <div class="team_card col-sm-3">
            <div class="image3">
            <img src="assets/images/ajay.jpg" >
          </div>
            <div class="team_text">
                    <h3>Govind Hivrale</h3>
                    <p class="role">Digital Marketing Manager</p>
            
          </div>
        </div>
          <div class="team_card col-sm-3">
            <div class="image3">
            <img src="assets/images/ajay.jpg" >
            </div>
            <div class="team_text">
                    <h3>Ajay</h3>
                    <p class="role">Software Engineer</p>
            </div>
        </div>
      </div>
      </div>

      <div class=" integrated">
        <div class="row">
          <h1 style="margin-left: 25%;" >Integrated Platform</h1>
          <p >We offer an integrated platform that includes sales, marketing, customer support and customer success for efficient business workflow.</p>
          <div class=" service1 col-sm-6"> 
            <div class="card22">
               <h1> Sales Box </h1>
               <p>  Capture, distribute, and nurture leads via SMS, Email, call, or WhatsApp. Exclusive lead and productivity dashboard.</p>
            </div>
          </div>
        <div class=" service1 col-sm-6"> 
          <div class="card22">
             <h1> Sales Box </h1>
             <p>  Capture, distribute, and nurture leads via SMS, Email, call, or WhatsApp. Exclusive lead and productivity dashboard.</p>
      </div> 
            </div>
            
      </div>
      </div>
      <div class=" integrated">
        <div class="row">
          <div class=" service1 col-sm-6"> 
            <div class="card22">
               <h1> Sales Box </h1>
               <p>  Capture, distribute, and nurture leads via SMS, Email, call, or WhatsApp. Exclusive lead and productivity dashboard.</p>
            </div>
          </div>
        <div class=" service1 col-sm-6"> 
          <div class="card22">
             <h1> Sales Box </h1>
             <p>  Capture, distribute, and nurture leads via SMS, Email, call, or WhatsApp. Exclusive lead and productivity dashboard.</p>
      </div> 
            </div>
            
      </div>
      </div>
               
                  <div class="invester0">
                   <div class="row">
                <h1 style="margin-left: 30%;" >Our invester </h1>
                <p style="margin-left: 30%;">We are lucky to be backed by some of the leading tech investors in the world.</p>
                
                    <div class="invester col-sm-6 ">
                      <div class="investimage>">
                        <img src="assets/images/card.webp" style="height: 200px; width: 100px;">
                      </div>
                      <h2>John Doe</h2>
                       
                      <p> Ah! ventures bring businesses and investors together and help in locating potential investment opportunitie</p>
                
                    </div>
                      
                      <div class="invester col-sm-6  ">
                        <div class="investimage>">
                      <img src="assets/images/card.webp" style="height: 200px; width: 100px;">
                        </div>
                      <h2>John Doe</h2>
                    
                      <p> Ah! ventures bring businesses and investors together and help in locating potential investment opportunitie</p>
          
                     </div>
                    </div>
                    </div>
                    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
<app-footer></app-footer>
