<html>
  <head>
  </head>
    <body>
        <div class="header">
            <div class="name">
              <h2><a routerLink="/header">CAPortal</a></h2>
            </div>
            <ul>
              <li><a routerLink="/login">Login</a></li>
              <li><a routerLink="/contactus">Contact Us</a></li>
              <li><a routerLink="/pricing">Pricing</a></li>
              <li><a routerLink="/aboutus">About Us</a></li>
              <li><a href="#">Inbuilt Communication</a></li>
              <li><a routerLink="/header">Home</a></li>
            </ul>
          </div>
    </body>
</html>
