<html>
  <head>
  </head>
    <body>
        <div class="header">
            <div class="name">
              <h2><a href="#">CAPortal</a></h2>
            </div>
            <ul>
              <li><a href="#">Login</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Inbuilt Communication</a></li>
              <li><a href="#">Integrated Software</a></li>
            </ul>
          </div>
    </body>
</html>
