   
      <body>
      <div class="container contact">
          <div class="row">
              <div class="col-md-3">
                  <div class="contact-info">
                      <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
                      <h2>Contact Us</h2>
                      <h4>Powerful Integrated Solution to Sell Faster
              </h4>
                  </div>
              </div>
              <div class="col-md-9">
                  <div class="contact-form">
                      <div class="form-group">
                        <label class="control-label col-sm-2" for="fname">Name:</label>
                        <div class="col-sm-10">          
                          <input type="text" class="form-control" id="fname" placeholder="Enter Name..." name="fname">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2" for="ename">Email:</label>
                        <div class="col-sm-10">          
                          <input type="text" class="form-control" id="ename" placeholder="Enter email..." name="ename">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2" for="mobile">Mobile_No:</label>
                        <div class="col-sm-10">
                          <input type="mobile" class="form-control" id="mobile" placeholder="Enter Mobile No..." name="mobile">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2" for="comment">Comment:</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                      </div>
                      <div class="form-group">        
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div><br><br><br>
      <div class="card-deck">
        <div class="card">
            <img src="assets\img\contactus\Corefactors Sales.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sales</h5>
              <p class="card-text">Automate sales workflow to sell faster and efficiently.</p>
              <a href="#" class="btn btn-primary">See more</a>
            </div>
          </div>
          <div class="card" style=" background-color: #ff9b00;">
            <img src="assets\img\contactus\Corefactors Support.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Support</h5>
              <p class="card-text">Get a complete 360-degree customer view with support box.</p>
              <a href="#" class="btn btn-primary">Get Support</a>
            </div>
          </div>
          <div class="card" >
            <img src="assets\img\contactus\Corefactors FreeTrial.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Free Trial</h5>
              <p class="card-text">Get a 7-day risk free trial. No credit card required.</p>
              <a href="#" class="btn btn-primary">Start trail</a>
            </div>
          </div>
        </div>
        <br><br><br>
      </body>
     
<app-footer></app-footer>